{% extends 'base.html' %} {% block content %}
<h1>About the Mystery Inc Universe</h1>
<hr />
<p>The Mystery Inc Universe is a web application that has the potential to present nearly every iteration of Scooby Doo and the Mystery Incorporated crew of Coolsville! This app allows a user to input any character from hero to villain across every movie and iteration throughout every decade.</p>
<!-- <a href="https://imgur.com/gTc9xro"><img src="https://i.imgur.com/gTc9xro.gif" title="source: imgur.com" /></a> -->

{% endblock %}